---
import Layout from "./Layout.astro";
import Navbar from "@/components/Navbar.astro";

interface Props {
  title?: string;
  container?: boolean;
}

const { title = "MLPilot", container = true } = Astro.props;
---

<Layout title={title}>
  <Navbar />
  <main class={container ? "mx-auto w-full max-w-6xl px-4 sm:px-6 py-6 sm:py-8" : ""} data-astro-transition="fade">
    <slot />
  </main>
</Layout>
